html, body{
  height:100%;
	}



#header{
	width: 100%;
	height:20px;
	}

#container{
	width: 100%;
	min-width:800px;
	min-height:70%;
	border:black solid 1px;
	margin-top: 10px;
	}
#footer{
	width: 100%;
	height:20px;
	}

#tool_box{
	
	border:black solid 1px;

	/*margin: 0 auto;*/
	float:left;

}

#canvas{
	margin: 0 auto;
	/*margin-left:300px;*/
	width: 400px;
	height:400px;
	border:black solid 15px;
	}

.row{
	float:right;
}

.canvas_element{
	/*float:top;*/
	/*float:right;*/
	/*margin: 0 auto;*/
	/*margin-top: 25px;*/
	/*margin-left:25px;*/
	/*width:25px;*/
	/*height:25px;*/
	/*margin-left: 25px;*/
	/*border:black solid 1px;*/
	/*background-color: rgb(0,0,128);*/
	}

ul{
	list-style-type: none;
}
li{
	display: inline-block;
	width:25px;
	height: 25px;
	margin-right:0px;
	margin-left:0px;
	/*margin-top: 5px;*/
	background-color: rgb(128,0,0);
}