body{
	margin: 0;
	padding: 0;
	font-family: arial,sans-serif;
	color: #444444;

}

a{
	text-decoration: none;
}

#hypervoid{
		width:300px;
		height: 300px;
		margin-top:-150px;
		position: absolute;
		/*border: solid 1px;*/

}

/* HEADER */

#header{
	position:fixed;
	top:0px;
	height: 50px;
	background-color: white;
	width: 100%;
	padding-right: 1px;
	font-size: small;
}

.header_right{
	color: #666666;
	float:right;
	padding-right: 25px;
	padding-top: 25px;
}


#sign_in{
	border: solid 1px;
	border-color: #DDD;
	color: white;
	font-size:12px;

	border-radius: 3px;
	background-color: #4D87FE;

	margin-left:0px;
	margin-right:0px;
	margin-top:-15px;

	padding-top: 0px;
    padding-right: 12px;
    padding-bottom: 0px;
    padding-left: 12px;

	height:29px;
}

/* CENTER */

#center{

	width: 1000px;
	height:300px;
	margin:0 auto;
	margin-top: 190px;

}

#logo_space{

	max-width: 269px;
	margin:0 auto;
    height: 95px;
    width: 269px;

}

#logo{

    height: 95px;
    width: 269px;

}

#country{
	position: absolute;
	color:#777777;
	/*float:right;*/
	margin-top:-27px;
	margin-left: 220px;
}

#input_space{
	width: 461px;
	height: 28;
	margin: 0 auto;
	margin-top: 25px;
}

input{
	width: 455px;
	height: 24px;
	cursor: auto;
    background-image: url('../img/mic.png');
    background-size: 20px 22px;
    background-repeat: no-repeat;
    background-position: 39.5em;
}

#button_space{
	margin: 0 auto;
	width: 260px;
	margin-top:15px;
	/*border: solid 1px;*/
}

.main_button{
	border: solid 1px;
	border-color: #DDD;
	background-color: #F1F1F1;
	margin-left:12px;
	margin-right:3px;
	padding: 7px 10px 7px 10px;
	height:29px;
}

#lang_space{
	margin: 0 auto;
	width: 430px;
	margin-top:30px;
	/*border: solid 1px;*/
	font-size: small;
}

.lang{
	font-weight: normal;
	color: #1626D1;
	margin-left: 10px;
}

.left{
	color: #666666;
	float: left;
	padding-left: 30px;
	padding-top: 12px;
}

.right{
	color: #666666;
	float:right;
	padding-right: 30px;
	padding-top: 12px;
	
}


/* FOOTER */

#footer{
	position:fixed;
	bottom:0px;
	height: 40px;
	background-color: #EBEBEB;
	width: 100%;
	/*border: solid 0.2px;*/
}












